Repository R9295/subspace, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nazar-pc, @NingLin-P, @vedhavyas, @shamil-gadelshin

.github/CODEOWNERS:

# Order matters: entries that are further down override any entries above them

/.github/workflows                @nazar-pc
/crates/pallet-*                  @NingLin-P @vedhavyas
/crates/pallet-subspace           @NingLin-P @vedhavyas @nazar-pc
/crates/sc-consensus-*            @nazar-pc
/crates/sc-proof-of-time          @nazar-pc
/crates/sp-*                      @NingLin-P @vedhavyas
/crates/sp-consensus-subspace     @NingLin-P @vedhavyas @nazar-pc
/crates/subspace-archiving        @nazar-pc @shamil-gadelshin
/crates/subspace-core-primitives  @nazar-pc
/crates/subspace-erasure-coding   @nazar-pc
/crates/subspace-farmer*          @nazar-pc @shamil-gadelshin
/crates/subspace-networking       @nazar-pc @shamil-gadelshin
/crates/subspace-proof-*          @nazar-pc
/crates/subspace-rpc-primitives   @nazar-pc
/crates/subspace-runtime*         @vedhavyas @nazar-pc
/crates/subspace-service          @nazar-pc
/crates/subspace-node             @NingLin-P @vedhavyas @nazar-pc
/crates/subspace-verification     @nazar-pc
/docker                           @nazar-pc
/domains                          @NingLin-P @vedhavyas
/shared/subspace-kzg              @nazar-pc
/shared/subspace-proof-*          @nazar-pc
/Cargo.toml                       @nazar-pc

init staking fuzzer
  Cargo.lock
  crates/pallet-domains/.gitignore
  crates/pallet-domains/Cargo.toml
  crates/pallet-domains/src/block_tree.rs
  crates/pallet-domains/src/lib.rs
  crates/pallet-domains/src/main.rs
  crates/pallet-domains/src/staking.rs
  crates/pallet-domains/src/staking_epoch.rs
Owners: @NingLin-P, @vedhavyas

works
  crates/pallet-domains/src/main.rs
  crates/pallet-domains/src/staking.rs
  crates/pallet-domains/src/staking_epoch.rs
Owners: @NingLin-P, @vedhavyas

fix
  crates/pallet-domains/src/main.rs
Owners: @NingLin-P, @vedhavyas

fmt
  crates/pallet-domains/src/lib.rs
  crates/pallet-domains/src/main.rs
  crates/pallet-domains/src/staking.rs
Owners: @NingLin-P, @vedhavyas

work
  crates/pallet-domains/src/main.rs
Owners: @NingLin-P, @vedhavyas

up
  Cargo.lock
  crates/pallet-domains/Cargo.toml
  crates/pallet-domains/src/main.rs
Owners: @NingLin-P, @vedhavyas

new
  crates/pallet-domains/src/main.rs
Owners: @NingLin-P, @vedhavyas

first invariant
  crates/pallet-domains/src/main.rs
  crates/pallet-domains/src/staking_epoch.rs
Owners: @NingLin-P, @vedhavyas

new
  Cargo.lock
  crates/pallet-domains/Cargo.toml
  crates/pallet-domains/src/main.rs
  crates/pallet-domains/src/staking_epoch.rs
Owners: @NingLin-P, @vedhavyas

fmt
  crates/pallet-domains/Cargo.toml
  crates/pallet-domains/src/main.rs
  crates/pallet-domains/src/staking.rs
  crates/pallet-domains/src/staking_epoch.rs
Owners: @NingLin-P, @vedhavyas

up
  crates/pallet-domains/src/main.rs
  crates/pallet-domains/src/staking.rs
  crates/pallet-domains/src/staking_epoch.rs
Owners: @NingLin-P, @vedhavyas

up
  crates/pallet-domains/src/main.rs
  crates/pallet-domains/src/staking.rs
  crates/pallet-domains/src/staking_epoch.rs
Owners: @NingLin-P, @vedhavyas

add skip epoch handler
  crates/pallet-domains/src/lib.rs
  crates/pallet-domains/src/main.rs
Owners: @NingLin-P, @vedhavyas

more invariants
  crates/pallet-domains/src/main.rs
  crates/pallet-domains/src/staking.rs
Owners: @NingLin-P, @vedhavyas

SRLabs: introduce staking harness
  Cargo.lock
  Cargo.toml
  crates/pallet-domains/Cargo.toml
  crates/pallet-domains/src/fuzz_utils.rs
  crates/pallet-domains/src/lib.rs
  crates/pallet-domains/src/staking.rs
  crates/pallet-domains/src/staking_epoch.rs
  crates/pallet-domains/src/tests.rs
  fuzz/.gitignore
  fuzz/staking/Cargo.toml
  fuzz/staking/src/main.rs
Owners: @nazar-pc, @NingLin-P, @vedhavyas

added README
  fuzz/staking/README.md
Owners: none

fmt & clippy
  crates/pallet-domains/src/fuzz_utils.rs
  crates/pallet-domains/src/lib.rs
  crates/pallet-domains/src/staking.rs
  crates/pallet-domains/src/staking_epoch.rs
  fuzz/staking/src/main.rs
Owners: @NingLin-P, @vedhavyas

fix deps
  crates/pallet-domains/Cargo.toml
Owners: @NingLin-P, @vedhavyas

clippy
  crates/pallet-domains/src/fuzz_utils.rs
  crates/pallet-domains/src/tests.rs
  fuzz/staking/src/main.rs
Owners: @NingLin-P, @vedhavyas

clippy
  crates/pallet-domains/src/tests.rs
Owners: @NingLin-P, @vedhavyas

clippy
  crates/pallet-domains/src/fuzz_utils.rs
  crates/pallet-domains/src/tests.rs
  fuzz/staking/src/main.rs
Owners: @NingLin-P, @vedhavyas

fix tests
  crates/pallet-domains/src/lib.rs
  fuzz/staking/.gitignore
Owners: @NingLin-P, @vedhavyas

use genesis in the harness
  Cargo.lock
  crates/pallet-domains/src/fuzz_utils.rs
  fuzz/staking/Cargo.toml
  fuzz/staking/src/main.rs
Owners: @NingLin-P, @vedhavyas

fmt
  crates/pallet-domains/src/lib.rs
  fuzz/staking/src/main.rs
Owners: @NingLin-P, @vedhavyas

unused-deps
  crates/pallet-domains/Cargo.toml
Owners: @NingLin-P, @vedhavyas

Update crates/pallet-domains/src/fuzz_utils.rs
  crates/pallet-domains/src/fuzz_utils.rs
Owners: @NingLin-P, @vedhavyas

fixes
  crates/pallet-domains/Cargo.toml
  crates/pallet-domains/src/fuzz_utils.rs
  crates/pallet-domains/src/lib.rs
  crates/pallet-domains/src/staking.rs
  crates/pallet-domains/src/staking_epoch.rs
  fuzz/staking/src/main.rs
  scripts/find-unused-deps.sh
Owners: @NingLin-P, @vedhavyas

SRLabs: Introduce fuzzing harness for pallet-domains
  .github/workflows/rust.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/pallet-domains/Cargo.toml
  crates/pallet-domains/src/fuzz_utils.rs
  crates/pallet-domains/src/lib.rs
  crates/pallet-domains/src/staking.rs
  crates/pallet-domains/src/staking_epoch.rs
  crates/pallet-domains/src/tests.rs
  fuzz/staking/Cargo.toml
  fuzz/staking/README.md
  fuzz/staking/src/main.rs
  scripts/build-fuzzer.sh
  scripts/find-unused-deps.sh
Owners: @nazar-pc, @NingLin-P, @vedhavyas
